<h1>Contact</h1>
<p>If you have any further questions or just want to chat, then feel free to contact me at Lkodarin@hotmail.com. My main areas of interest would be, but not limited to, the following topics:</p>

<ul>
	<li>Job Opportunities</li>
	<li>Workshops</li>
	<li>General Sports</li>
	<li>Trip Suggestions</li>
</ul>
